<div
  fxLayout="row wrap"
  fxLayoutAlign="flex-start"
  *ngIf="items | async as items"
>
  <mat-card mat-button class="personal-card add-personal-card" fxFlex="23">
    <mat-card-content>
      <button mat-icon-button aria-label="" (click)="createNewEmployee()">
        <strong>Add employee</strong><br />
        <mat-icon>control_point</mat-icon>
      </button>
    </mat-card-content></mat-card
  >
  <mat-card
    mat-button
    class="personal-card"
    *ngFor="let item of items"
    fxFlex="23"
  >
    <mat-card-header>
      <mat-card-title>
        <strong
          >{{ item.Name }}
          <mat-icon (click)="changeEmployeeName(item.Name, item.id)"
            >edit</mat-icon
          ></strong
        >
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Performance Reviews
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="reviews" *ngIf="item.reviewID; else addReview">
            <div align="center">
              <div *ngIf="reviewItems | async as reviewItems">
                <div *ngFor="let reviewItem of reviewItems">
                  <div
                    *ngIf="reviewItem.employeeID === item.id"
                    class="stars-wrap"
                  >
                    <div
                      fxLayout="row wrap"
                      fxLayoutAlign="space-between center"
                      class="star-row"
                    >
                      <span>Quality</span>
                      <span
                        *ngIf="reviewItem.R1; else R1None"
                        class="stars alignright"
                      >
                        <span
                          [ngStyle]="{ width: getStars(reviewItem.R1) }"
                        ></span>
                      </span>
                      <ng-template #R1None>
                        <span>-</span>
                      </ng-template>
                    </div>
                    <div
                      fxLayout="row wrap"
                      fxLayoutAlign="space-between center"
                      class="star-row"
                    >
                      <span>Speed</span>
                      <span
                        *ngIf="reviewItem.R2; else R2None"
                        class="stars alignright"
                      >
                        <span
                          [ngStyle]="{ width: getStars(reviewItem.R2) }"
                        ></span>
                      </span>
                      <ng-template #R2None>
                        <span>-</span>
                      </ng-template>
                    </div>
                    <div
                      fxLayout="row wrap"
                      fxLayoutAlign="space-between center"
                      class="star-row"
                    >
                      <span>Communicate</span>
                      <span
                        *ngIf="reviewItem.R3; else R3None"
                        class="stars alignright"
                      >
                        <span
                          [ngStyle]="{ width: getStars(reviewItem.R3) }"
                        ></span>
                      </span>
                      <ng-template #R3None>
                        <span>-</span>
                      </ng-template>
                    </div>
                    <div
                      fxLayout="row wrap"
                      fxLayoutAlign="space-between center"
                      class="star-row"
                    >
                      <span>Teamwork</span>
                      <span
                        *ngIf="reviewItem.R4; else R4None"
                        class="stars alignright"
                      >
                        <span
                          [ngStyle]="{ width: getStars(reviewItem.R4) }"
                        ></span>
                      </span>
                      <ng-template #R4None>
                        <span>-</span>
                      </ng-template>
                    </div>
                    <div
                      fxLayout="row wrap"
                      fxLayoutAlign="space-between center"
                      class="star-row"
                    >
                      <span>Solve</span>
                      <span
                        *ngIf="reviewItem.R5; else R5None"
                        class="stars alignright"
                      >
                        <span
                          [ngStyle]="{ width: getStars(reviewItem.R5) }"
                        ></span>
                      </span>
                      <ng-template #R5None>
                        <span>-</span>
                      </ng-template>
                    </div>
                    <div
                      fxLayout="row wrap"
                      fxLayoutAlign="space-between center"
                      class="star-row"
                    >
                      <span>Dependability</span>
                      <span
                        *ngIf="reviewItem.R6; else R6None"
                        class="stars alignright"
                      >
                        <span
                          ng-style="{ 'width': getStars(reviewItem.R6) }"
                        ></span>
                      </span>
                      <ng-template #R6None>
                        <span>-</span>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <button
                  mat-flat-button
                  color="primary"
                  (click)="editReview(item.id, item.reviewID)"
                >
                  Edit
                </button>
              </div>
            </div>
          </div>
          <ng-template #addReview>
            <div align="center">
              <p>You haven't reviewed yet.</p>
              <button
                mat-flat-button
                color="primary"
                (click)="editReview(item.id, '')"
              >
                Add
              </button>
            </div>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Assign employees
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>Employees</mat-label>
            <mat-select multiple>
              <mat-option *ngFor="let item of items" [value]="item">{{
                item.Name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="button-wrapper">
            <button mat-flat-button color="primary">Apply</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <div fxFlex="70"></div>
        <button
          mat-icon-button
          color="warn"
          aria-label=""
          fxFlex="20"
          (click)="delete(item.id, item.reviewID)"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
