<form [formGroup]="form" *ngIf="form">
  <div class="float-button">
    <button mat-fab color="warn" type="button" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="primary" type="button" (click)="save()">
      <mat-icon>cached</mat-icon>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start">
    <div fxFlex.gt-sm="100" fxFlex="100">
      <mat-card>
        <div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field class="full-wid">
                <input matInput placeholder="Name" formControlName="Name" />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['Name'].hasError('required') &&
                  form.controls['Name'].touched
                "
                class="mat-text-warn"
              >
                Name Input Required
              </small>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field class="full-wid">
                <input
                  matInput
                  placeholder="R1"
                  formControlName="R2"
                  type="number"
                  step="0.1"
                />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['R1'].hasError('required') &&
                  form.controls['R1'].touched
                "
                class="mat-text-warn"
              >
                R1 Input Required
              </small>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</form>
